.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32x;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 355px;
  }
}
