@use "../../typography.scss" as *;

.wrapper {
  position: relative;
}

.input {
  min-width: 100%;
  padding: 25.5px 12px 25.5px 44px;
  border-radius: 16px;
  background-color: var(--bg-block);
  border: none;
  outline: none;

  color: var(--text-color);
  @include text-preset-3-mobile;

  box-shadow: var(--block-shadow);

  @media screen and (min-width: 768px) {
    padding: 22px 0;
    padding-left: 68px;

    @include text-preset-3;
  }

  &:focus {
    outline: 2px solid var(--blue-500);
    outline-offset: 3px;
    box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.19);
  }
}

.input::placeholder {
  color: var(--subtext-color);
  transition: color 0.2s ease;
  opacity: 70%;
}

.submitBtn {
  position: absolute;

  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  background-color: var(--blue-500);
  padding: 12px 20px;
  color: var(--neutral-0);
  border-radius: 10px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease,
    outline 0.2s ease;

  &:hover {
    background-color: var(--blue-300);
  }

  &:focus {
    outline: 2px solid var(--blue-500);
    outline-offset: 2px;
  }

  @include text-preset-5;

  @media screen and (min-width: 768px) {
    padding: 12px 24px;
  }
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
    left: 24px;
  }
}

.error {
  position: absolute;
  display: none;
  right: 143px;
  top: 50%;
  transform: translateY(-50%);

  @include text-preset-5;
  color: var(--red-500);

  @media screen and (min-width: 768px) {
    display: block;
  }
}
