@use "../../typography.scss" as *;

.header {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  line-height: 100%;
}

.themeSwitch {
  background: none;

  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }

  &:focus {
    outline: 2px solid var(--blue-500);
    outline-offset: 3px;
  }
}

.theme {
  color: var(--themeswitch-color);
  transition: 0.2s ease;

  @include text-preset-8;
}

.icon {
  fill: var(--themeswitch-color);
  transition: 0.2s ease;
}

.themeSwitch:hover {
  .theme {
    color: var(--themeswitch-color-hover);
  }
  .icon {
    fill: var(--themeswitch-color-hover);
  }
}
