@use "../../typography.scss" as *;

.header {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  line-height: 100%;
}

.themeSwitch {
  background: none;

  display: flex;
  align-items: center;
  gap: 12px;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}

.theme {
  color: var(--neutral-200);

  @include text-preset-8;
}
