.header {
  margin-bottom: 32px;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 26px;
  font-weight: bold;
  line-height: 100%;
}

.themeSwitch {
  background: none;

  display: flex;
  align-items: center;
  gap: 12px;
}

.theme {
  color: var(--neutral-200);
}
