@use "../../typography.scss" as *;

.wrapper {
  padding: 32px 24px;
  border-radius: 16px;
  background-color: var(--neutral-800);

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  gap: 20px;
  align-items: start;

  &__img {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-bottom: 2px;
    @include text-preset-1;
  }

  &__username {
    margin-bottom: 4px;
    color: var(--blue-300);
    @include text-preset-4;
  }

  &__date {
    @include text-preset-6;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__bio {
    @include text-preset-6;
  }
}

.stats {
  background-color: var(--neutral-900);
  border-radius: 10px;
  padding: 16px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.key {
  @include text-preset-7;
}

.value {
  @include text-preset-2;
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    gap: 16px;
  }

  &__value {
    @include text-preset-6;
  }
}
