:root {
  --neutral-900: #141d2f;
  --neutral-800: #1e2a47;
  --neutral-700: #2b3442;
  --neutral-500: #4b6a9b;
  --neutral-300: #697c9a;
  --neutral-200: #90a4d4;
  --neutral-100: #f6f8ff;
  --neutral-0: #ffffff;

  --blue-300: #60abff;
  --blue-500: #0079ff;

  --red-500: #f74646;

  &.dark {
    --bg: var(--neutral-900);
    --bg-block: var(--neutral-800);
    --text-color: var(--neutral-0);
    --subtext-color: var(--neutral-0);
    --errortext-color: var(--neutral-200);
    --username-color: var(--blue-300);
    --block-shadow: 0px;
    --icon-color: var(--neutral-0);
    --themeswitch-color: var(--neutral-200);
    --themeswitch-color-hover: var(--neutral-0);
  }

  &.light {
    --bg: var(--neutral-100);
    --bg-block: var(--neutral-0);
    --text-color: var(--neutral-700);
    --subtext-color: var(--neutral-500);
    --errortext-color: var(--neutral-300);

    --username-color: var(--blue-500);
    --block-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19);
    --icon-color: var(--neutral-900);
    --themeswitch-color: var(--neutral-500);
    --themeswitch-color-hover: var(--neutral-700);
  }
}

* {
  transition: background-color 0.2s ease, color 0.2s ease,
    border-color 0.2s ease, fill 0.2s ease, box-shadow 0.2s ease;
}

img {
  display: flex;
  max-width: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  will-change: color;
  transition: color 0.19s ease;
}

button {
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--text-color);
  font-family: "Space Mono", monospace;

  padding-top: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
  @media screen and (min-width: 1440px) {
    padding-top: 130px;
  }
}

a {
  cursor: pointer;
  color: inherit;
}
