@mixin text-preset-1 {
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
}
@mixin text-preset-2 {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0px;
  font-weight: bold;
}
@mixin text-preset-3 {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin text-preset-3-mobile {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin text-preset-4 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin text-preset-5 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
}
@mixin text-preset-6 {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin text-preset-7 {
  font-size: 13px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: normal;
}
@mixin text-preset-8 {
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 2.5px;
  font-weight: bold;
}
